


<ion-header [translucent]="false">

</ion-header>


<ion-content [fullscreen]="true">


     <div class="container-nivel">
      <div class="content-wrapper">
            <ion-buttons slot="end">
<ion-button (click)="openVolumeSettings()" fill="clear">
  <ion-icon slot="icon-only" name="volume-medium"></ion-icon>
</ion-button>
    </ion-buttons>
        <div class="header-section">
          <button (click)="volver()" class="btn-volver">
            ← Volver al Menú
          </button>
          <h1 class="title">{{ tematica }}</h1>
          <p class="subtitle">Selecciona el nivel de dificultad</p>
        </div>

        <div class="niveles-grid">
          <button (click)="iniciarJuego('normal')" class="nivel-card">
            <div class="icono">⭐</div>
            <h2 class="nivel-nombre">Normal</h2>
            <p class="nivel-desc">Palabras sencillas y comunes</p>
          </button>

          <button (click)="iniciarJuego('avanzado')" class="nivel-card">
            <div class="icono">🏆</div>
            <h2 class="nivel-nombre">Avanzado</h2>
            <p class="nivel-desc">Palabras más complejas</p>
          </button>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
  <ion-footer class="custom-footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>El ahorcado</h2>
        <p>Adivina la palabra antes de que sea demasiado tarde!!!</p>
      </div>

      <div class="footer-section links">
        <h3>Enlaces útiles</h3>
        <ul>
          <li><a routerLink="">Inicio</a></li>
          <li><a href="http://www.cifrasyletrasjuego.com/">cifras y letras el juego</a></li>

        </ul>
      </div>

      <div class="footer-section social">
        <h3>Síguenos</h3>
        <div class="social-icons">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-youtube"></ion-icon>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <a href="terminos y condiciones">Terminos y condiciones</a>
      <p>© 2025 ... Todos los derechos reservados.</p>
    </div>
  </ion-footer>

</ion-content>
